@font-face {
    font-family: 'gibson-light';
    src: url('fonts/gibsonlight-regular-webfont.eot');
    src: url('fonts/gibsonlight-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibsonlight-regular-webfont.woff2') format('woff2'),
         url('fonts/gibsonlight-regular-webfont.woff') format('woff'),
         url('fonts/gibsonlight-regular-webfont.ttf') format('truetype'),
         url('fonts/gibsonlight-regular-webfont.svg#gibsonregular') format('svg');
    font-weight: normal;
    font-style: normal;   
}

//font-family: ff-enzo-web, sans-serif;
//font-style: normal;
//font-weight: 600;


$headingfont: 'Josefin Sans';
//$bodyfont: 'gibson-light'; 
$bodyfont: 'ff-enzo-web'; 
//$bodyfont: 'etica-display'; 


//$darkblue: #06224b;
$darkblue: hsl(215,80,15);
$lightblue: hsl(215,80,55);
$white: #FFFFFF;

$xsmall: 320px;
$small: 420px;
$medium: 720px;
$large: 1024px;
$xlarge: 1200px;

@mixin breakmin($size) {
    @media screen and (min-width: $size) {
        @content
        }
}
@mixin breakmax($size) {
    @media screen and (max-width: $size) {
        @content
        }
}

$padding: .71rem;
$margin: 1rem;
    
    @function pad($amt) {
        @return $amt * $padding;
    }    

    @function mar($amt) {
        @return $amt * $margin;
    } 