@import 'variables';

html {
    font-size: 16px;
    padding: 0;
//    background-image: linear-gradient(0deg, hsl(215, 70, 71) 0%, $darkblue 100%);
//    background-size: 100% 100%;
    background-color: $darkblue;
//    background-image: linear-gradient(0deg, hsl(215, 70, 71) 0%, $darkblue 100%);
//    height: 100%;
//    background-size: 100% 180%;
//    padding-bottom: 200px;
    
    * {
        box-sizing: border-box;
    }
}

body {
    font-family: $bodyfont,sans-serif;
    color: $white;
    padding: 0;
    margin: 0;
    position: relative;
    
    background-image: 
        linear-gradient(-20deg, hsl(215, 90%, 72%) 0%, hsl(215, 80%, 15%) 100%);
    background-size: 100% 100%;
    position: center;
    padding-top: 30vh;
    
}

#Container {
//    background-imeage: 
//        linear-gradient(0deg, hsla(0,0,.1,0) 0%, transparentize(lighten($darkblue, 50%),1) 100%)
//        ;
//
////        ,
////        ,url(../assets/Clouds2.svg);
//        
//    background-position: bottom; 
//    background-repeat: no-repeat;
//    background-size: contain;
    position: relative;
    
}


h1,
h2,
h3 {
    font-family: $headingfont, sans-serif;
    font-weight: 100;
    padding: pad(0);
    margin: mar(0);
}

p {
    font-family: $bodyfont, sans-serif;
    font-weight: 100;
    font-size: 1.25em;

}

header {
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;

    position: fixed;
    
    top: 0;
    width: 100%;
    z-index: 10;

    @include breakmax($medium) {
        height: 30vh;
    }
    
    @include breakmin($large) {
        height: 20vh;
    }
    
    line-height: 2em;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
        @include breakmax($small) {
            text-align: center;
        }
    :after {
        content: "";
        display: table;
        clear: both;
    }

}

div#branding {
    position: relative;
    display: inline-block;
//    display: flex;
    width: 100%;
    font-size: 2rem;
    transition: .35s all;
    z-index: 10;


    @include breakmax($small) {
        width: 80%;
        width: 100%;
        margin: 0 auto;
        text-align: center;        
    }
    @include breakmin($small) {
        padding-left: 15%;
        padding-right: 15%;
    }    
    #identification {
        display: inline-block; 
        position: relative;
        width: 80%;
        float: left;
        display: inline-block;
        left: 0;
        margin-left: 0;
        padding:  pad(2);

        transition: .2s all;
        transition: 0s rotateZ;
        @meedia screen and (max-width: 700px) and (orientation:landscape) {

            h1 {
                font-size: 1em;
                padding: 0;
                display: inline-block;
                width: 50%;
            }
            h2 {
//                display: none;
                
            }
            padding-top: 0;
            padding-bottom:0;
        }
        
        @include breakmax($medium) {
            padding-top: pad(1);
            padding-bottom: pad(1);
        }
    }
    
    h1, h2, h3 {
        display: inline-block;
        margin: 0;
    }   
    
    h1 {
        font-size: 2em;
        line-height: 1.25em;
        padding: 0;
        padding-bottom: pad(.5);
        width: 100%;
        text-align: left;
        
        @include breakmax($medium) {
            font-size: 1.25em;
        }
        order: 1;
    }
    

    
$spanheight: 1rem;

    h2 {
        position: relative;
        font-size: 1.5*$spanheight;
        line-height: 1.5*$spanheight;
        text-align: left;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        order: 3;
        animation: fadein 3s;
        
    @include breakmax($small) {
        $spanheight: 1.5rem;
    }
        
        span {
            display: flex;
            height: $spanheight;
            padding-left: pad(.5);
            width: 100%;
            overflow: hidden;
            font-size: $spanheight;
            line-height: $spanheight;
            
            span {
                height: $spanheight;
                line-height: $spanheight;
                display: inline-block;
                width: 80%;
                max-width: 6em;
                padding-left: .25*$spanheight;
                height:5*$spanheight;
                animation: shift 8s infinite;
                vertical-align: top;
                overflow: hidden;
                text-align: left;
                float: right;
            }
        }
    }

    @keyframes shift {
        0% {transform: translateY(0*$spanheight)}
        25% {transform: translateY(-1*$spanheight)}
        50% {transform: translateY(-2*$spanheight)}
        75% {transform: translateY(-3*$spanheight)}
        100% {transform: translateY(-4*$spanheight)}
    }    
    
    @keyframes fadein {
        0% {opacity: 0}
        100% {opacity: 1}
    }
        
    
}


#logo {
    display: inline-block;
    position: absolute;
//    background-color: antiquewhite;
    padding-right: pad(2);
    right: pad(2);
    stroke: $white;
    fill: $white;
    width:20%;
//    height: auto;    
    transition: .15s all;

    padding-top: pad(2);
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    
    @include breakmax($medium) {
//        width: 15%;
//        max-height: 2rem;
        margin: 0 0 0 auto;
//        text-align: right;
//        order: 2;
        
    }
    @include breakmax($medium) {
        padding-top: pad(1.25);
    }
    
    svg {
        
//        width: 100%;
//        height: auto;
        transition: .15s all;
        transition: 0s all;
    }
}

#letterP {
    max-height: 130px;
    fill: $white;
    stroke: $white;
    stroke-width: 0;
    transition: .5s all;
//    position: absolute;
}

.container {

    position: relative;    
    min-height: 500px;
    overflow: visible;
    z-index: 3;

}


#mainContent,
#additionalContent {
    padding: pad(2);
    font-size: 1.2em;
    line-height: 1.75em;
    max-width: 1024px;
    margin: auto;
    
}
#mainContent {
    h2:first-of-type {
        font-size: 2.5rem;
        margin-bottom: mar(5);
        padding-bottom: pad(1);
        flex: 10;
        width: 60%;
        line-height: 3rem;
        letter-spacing: 1px;
        margin-right: 5%;
        margin-left: auto;
        text-align: right;
        background-image: linear-gradient(0deg, $white 3%, transparent 4%);
        background-position: bottom right;
        background-size: 50% 15px;
        background-repeat: no-repeat;
    }
    h2:nth-of-type(2) {
        width: 50%;
        margin: auto;
        @include breakmax($medium) {
            width: 100%;
            letter-spacing: -2px;
        }

        background-position: 50% 100%;
        background-repeat: no-repeat;
        margin-bottom: mar(2);
        padding-bottom: pad(.25);
        text-align: center;
    }

    @keyframes sideways {
        0% { background-size: 30% 100%;}
        50% { background-size: 40% 115%;        }
        100% { background-size: 30% 100%;        }
        
    }
    &>h3 {
        padding-bottom: 0;
        padding-left: pad(2);
        margin-bottom: 0;
        text-align: center;
        padding-top: pad(.25);
        
        @include breakmax($medium) {
            width: 100%;
            text-align: center;
            font-size: 2rem;

            padding: 0;
            line-height: 2rem;
            padding-top: pad(.25);

        }
        color: $white;
        font-weight: 200;
    }

    
    
    p {
        margin-top: mar(.5);
        width: 80%;
        @include breakmax($large) {
            width: 100%;
        }
    }
    
}
    #Services {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
    }    
    
    .service {
//        background-color: yellow;
        display: flex; 
        flex-flow: row wrap;
        flex-basis: 100%;
        align-items: center;
        color: $white;
        margin: mar(1);
        
        @include breakmax($medium) {
            flex-basis: 100%;
            margin: mar(1) 0;
        }
        
            &:nth-of-type(odd) {
//                background-color: green;
            }

        
        h3 {
            width: 100%;
            flex-basis: 100%;
            letter-spacing: -1px;

            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: mar(2);
            background-color: transparent;
            text-align: center;
            padding-bottom: pad(1);


            
            @include breakmax($medium) {
                width: 100%;
                margin: mar(1) auto;
                text-align: center;
            }
            
        }
        
        img {
            width: 30%;
            margin: mar(1) auto;
            display: inline-block;
//            padding: pad(2);
            height: auto;
            
            @include breakmax($medium) {
                width: 30%;
                float: none;
                padding: 0;
                margin: 0 auto;
                display: block;
                order: -1;
                padding-bottom: pad(1);
            }
        }
        
        .description {
            flex-basis: 50%;
            order: 2;
//            padding: pad(1);
//            background-color: green;
            padding-top: 0;
            width: 50%;
            p {
                padding-top: 0;
                width: 100%;
//                background-color: yellow;
                margin: 0 auto;
            }
            
            @include breakmax($medium) {
                width: 100%;
                flex-basis: 100%;
//                padding-top: pad(1);
            }
            
            
        }

        
        &:after {
            content: "";
            display: block;
            width: 60%;
            margin: 0 auto;
            background-image: linear-gradient(5deg, lighten($darkblue, 70%) 0%, lighten($darkblue, 80%) 100%);
            border-radius: 100%;
            height: 5px;
            margin: mar(2) auto;
            order: 3;
        }
        
        &:last-of-type {
            &:after {
                content: "";
//                display: none;
            }
            
        }
        
         

        
        p,
        ul {
            padding: pad(1);
        }
//        li {
//            list-style-position: inside;
//            list-style-position: outside;
//            list-style: none;
//            list-style: disc;
////            display: inline;
//            display: block;
//            padding-left: pad(3);
////            background-image: linear-gradient(0deg, $darkblue 100%, white 100%);
////            background-size: .5rem .5rem;
////            background-repeat: no-repeat;
////            background-position: .5rem center;
//            line-height: 1.5rem;
//            margin-bottom: mar(1);
////            background-color: $white;
//            
//
//        }
    }
    

#contact {
    a:first-of-type {
            color: $white;
            background-color: $darkblue;
            border: 2px solid $white;

        &:hover, &:active {
            border: 2px solid $darkblue;
            color: $darkblue;
            background-color: lighten($darkblue, 70%);
            border-radius: 0;
        }


        transition: .3s all;

        padding: pad(2);
        margin: mar(2);
        display: block;
    //    border-bottom-left-radius: 2rem;
    //    border-bottom-right-radius: 2rem;
    //    border-bottom-left-radius: 0%;
    //    border-bottom-right-radius: 0%;
    //    border-top-left-radius: 100%;
    //    border-top-right-radius: 100%;
        padding: pad(2) pad(2);
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
        max-width: 50%;
        min-width: 15rem;
        overflow: hidden;
        z-index: 10;

    }
    
    margin-top: mar(4);
    height: 5.5rem;
    position: relative;
    overflow: hidden;
    padding-top: 0;
    transition: .5s all;
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @include breakmax($medium) {
        width: 100%;
    }


    #form {
//        background-color: green;
//        width: 50%;
        margin: 0 auto;
        input,
        textarea,
        button {
            font-family: $bodyfont;
            font-size: 1.25rem;
            margin-bottom: mar(.5);
            max-width: 100%;
            padding: pad(.5);
        }
        textarea {
            width: 100%;
        }
        input {
            width: 100%
        }
        padding: pad(1);
        p {
            font-size: 1.5rem;
            margin: 0;
        }
        input {
        }
        
        button {
            display: block;
            padding: pad(1);
            
        }
        
    }
        a:last-of-type {
            background-color: $darkblue;
            color: $white;
            border: 2px solid $white;
            border-radius: 100%;

            text-decoration: none;
            width: 2.5rem;
            height: 2.5rem;
            display: inline-block;
            text-align: center;
//            line-height: 2rem;
            font-size: 1.25rem;
            line-height: 2.5rem;
            margin: 0 mar(1) 0 0;
            right: 0;
//            right: 1rem;
            position: absolute;

        }
    
    &:target {
        padding: pad(1);
        color: $white;
        background-color: $darkblue;
        border: 2px solid $white;
        overflow: auto;
        min-height: 35rem;
        height: 60rem;
        padding-top: pad(10);


    }
}
section:last-of-type {
    padding-bottom: 5rem;

}
svg {
    * {
        transform-origin: top;
        transform-origin: center;
    }
}

#logo,
#pBody {
    transform-origin: top left !important; 
//    transform-origin: 100% 100% 100%;
    transform-origin: center;
}
#Canvas {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}




footer {
    position: fixed;
    bottom: 0vh;
    stroke: $white;
    width: 100%;
    transition: .5s all;
        @include breakmin($large) {
            bottom: -3vh;
        }
        @include breakmin($xlarge) {
            bottom: -3vh;
        }

    div {
        display: none;
        text-align: right;
        bottom: 0;
        right: 0;
    }
}

#Skyline {
    display: block;
    stroke: $white;
    bottom: 0;

        @include breakmax($small) { 
            height: 5em;            
        }
    path {
        stroke-width:1;
        
        @include breakmin($large) {
            stroke-width:.025vw;        
        }
        fill: transparentize(darken($darkblue, .4), 0);

    }

}
//#Clouds {
//    animation-timing-function: linear;
//    transition: 0s all;
//    margin-bottom: 2rem;
//    &>* {
//        opacity: 1;
//    }




//    &>*:nth-of-type(1) {
//    animation: Move 30s infinite;
//    animation-delay: 2s;
//    }
//
//    &>*:nth-of-type(2) {
//    animation: Move 32s infinite;
//    animation-delay: 6s;
//    }
//
//    &>*:nth-of-type(3) {
//    animation: Move 36s infinite;
//    animation-delay: 3s;
//    }
//    
//    &>*:nth-of-type(4) {
//    animation: Move 36s infinite;
//    animation-delay: 1s;
//    }
//
//    &>*:nth-of-type(5) {
//    animation: Move 40s infinite;
//    animation-delay: 4s;
//    }
//
//    &>*:nth-of-type(6) {
//    animation: Move 50s infinite;
//    animation-delay: 1s;
//    }

}

//@keyframes Move {   
//    0% {
//        transform: translate3d(2000px, 0px, 0px);
//        opacity: 0;
//    }
//    5% {
//        opacity: 1;
//    }
//    90% {
//        opacity: 1;
//    }
//    99% {
//        opacity: 0;
//    }
//    100% {        
//        transform: translate3d(-2000px, 0px, 0px);
//    }
//}
