@font-face {
  font-family: 'gibson-light';
  src: url("fonts/gibsonlight-regular-webfont.eot");
  src: url("fonts/gibsonlight-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gibsonlight-regular-webfont.woff2") format("woff2"), url("fonts/gibsonlight-regular-webfont.woff") format("woff"), url("fonts/gibsonlight-regular-webfont.ttf") format("truetype"), url("fonts/gibsonlight-regular-webfont.svg#gibsonregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px;
  padding: 0;
  background-color: #082145; }
  html * {
    box-sizing: border-box; }

body {
  font-family: "ff-enzo-web", sans-serif;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  position: relative;
  background-image: linear-gradient(-20deg, #77adf8 0%, #082145 100%);
  background-size: 100% 100%;
  position: center;
  padding-top: 30vh; }

#Container {
  position: relative; }

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  padding: 0rem;
  margin: 0rem; }

p {
  font-family: "ff-enzo-web", sans-serif;
  font-weight: 100;
  font-size: 1.25em; }

header {
  display: inline-block;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  line-height: 2em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0; }
  @media screen and (max-width: 720px) {
    header {
      height: 30vh; } }
  @media screen and (min-width: 1024px) {
    header {
      height: 20vh; } }
  @media screen and (max-width: 420px) {
    header {
      text-align: center; } }
  header :after {
    content: "";
    display: table;
    clear: both; }

div#branding {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  transition: .35s all;
  z-index: 10; }
  @media screen and (max-width: 420px) {
    div#branding {
      width: 80%;
      width: 100%;
      margin: 0 auto;
      text-align: center; } }
  @media screen and (min-width: 420px) {
    div#branding {
      padding-left: 15%;
      padding-right: 15%; } }
  div#branding #identification {
    display: inline-block;
    position: relative;
    width: 80%;
    float: left;
    display: inline-block;
    left: 0;
    margin-left: 0;
    padding: 1.42rem;
    transition: .2s all;
    transition: 0s rotateZ; }

@meedia screen and (max-width: 700px) and (orientation:landscape) {
  div#branding #identification {
    padding-top: 0;
    padding-bottom: 0; }
    div#branding #identification h1 {
      font-size: 1em;
      padding: 0;
      display: inline-block;
      width: 50%; } }
    @media screen and (max-width: 720px) {
      div#branding #identification {
        padding-top: 0.71rem;
        padding-bottom: 0.71rem; } }
  div#branding h1, div#branding h2, div#branding h3 {
    display: inline-block;
    margin: 0; }
  div#branding h1 {
    font-size: 2em;
    line-height: 1.25em;
    padding: 0;
    padding-bottom: 0.355rem;
    width: 100%;
    text-align: left;
    order: 1; }
    @media screen and (max-width: 720px) {
      div#branding h1 {
        font-size: 1.25em; } }
  div#branding h2 {
    position: relative;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    order: 3;
    animation: fadein 3s; }
    div#branding h2 span {
      display: flex;
      height: 1.5rem;
      padding-left: 0.355rem;
      width: 100%;
      overflow: hidden;
      font-size: 1.5rem;
      line-height: 1.5rem; }
      div#branding h2 span span {
        height: 1.5rem;
        line-height: 1.5rem;
        display: inline-block;
        width: 80%;
        max-width: 6em;
        padding-left: 0.375rem;
        height: 7.5rem;
        animation: shift 8s infinite;
        vertical-align: top;
        overflow: hidden;
        text-align: left;
        float: right; }

@keyframes shift {
  0% {
    transform: translateY(0rem); }
  25% {
    transform: translateY(-1.5rem); }
  50% {
    transform: translateY(-3rem); }
  75% {
    transform: translateY(-4.5rem); }
  100% {
    transform: translateY(-6rem); } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#logo {
  display: inline-block;
  position: absolute;
  padding-right: 1.42rem;
  right: 1.42rem;
  stroke: #FFFFFF;
  fill: #FFFFFF;
  width: 20%;
  transition: .15s all;
  padding-top: 1.42rem; }
  #logo:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (max-width: 720px) {
    #logo {
      margin: 0 0 0 auto; } }
  @media screen and (max-width: 720px) {
    #logo {
      padding-top: 0.8875rem; } }
  #logo svg {
    transition: .15s all;
    transition: 0s all; }

#letterP {
  max-height: 130px;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 0;
  transition: .5s all; }

.container {
  position: relative;
  min-height: 500px;
  overflow: visible;
  z-index: 3; }

#mainContent,
#additionalContent {
  padding: 1.42rem;
  font-size: 1.2em;
  line-height: 1.75em;
  max-width: 1024px;
  margin: auto; }

#mainContent h2:first-of-type {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  padding-bottom: 0.71rem;
  flex: 10;
  width: 60%;
  line-height: 3rem;
  letter-spacing: 1px;
  margin-right: 5%;
  margin-left: auto;
  text-align: right;
  background-image: linear-gradient(0deg, #FFFFFF 3%, transparent 4%);
  background-position: bottom right;
  background-size: 50% 15px;
  background-repeat: no-repeat; }

#mainContent h2:nth-of-type(2) {
  width: 50%;
  margin: auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  padding-bottom: 0.1775rem;
  text-align: center; }
  @media screen and (max-width: 720px) {
    #mainContent h2:nth-of-type(2) {
      width: 100%;
      letter-spacing: -2px; } }

@keyframes sideways {
  0% {
    background-size: 30% 100%; }
  50% {
    background-size: 40% 115%; }
  100% {
    background-size: 30% 100%; } }

#mainContent > h3 {
  padding-bottom: 0;
  padding-left: 1.42rem;
  margin-bottom: 0;
  text-align: center;
  padding-top: 0.1775rem;
  color: #FFFFFF;
  font-weight: 200; }
  @media screen and (max-width: 720px) {
    #mainContent > h3 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      padding: 0;
      line-height: 2rem;
      padding-top: 0.1775rem; } }

#mainContent p {
  margin-top: 0.5rem;
  width: 80%; }
  @media screen and (max-width: 1024px) {
    #mainContent p {
      width: 100%; } }

#Services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0; }

.service {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  align-items: center;
  color: #FFFFFF;
  margin: 1rem; }
  @media screen and (max-width: 720px) {
    .service {
      flex-basis: 100%;
      margin: 1rem 0; } }
  .service h3 {
    width: 100%;
    flex-basis: 100%;
    letter-spacing: -1px;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    background-color: transparent;
    text-align: center;
    padding-bottom: 0.71rem; }
    @media screen and (max-width: 720px) {
      .service h3 {
        width: 100%;
        margin: 1rem auto;
        text-align: center; } }
  .service img {
    width: 30%;
    margin: 1rem auto;
    display: inline-block;
    height: auto; }
    @media screen and (max-width: 720px) {
      .service img {
        width: 30%;
        float: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        order: -1;
        padding-bottom: 0.71rem; } }
  .service .description {
    flex-basis: 50%;
    order: 2;
    padding-top: 0;
    width: 50%; }
    .service .description p {
      padding-top: 0;
      width: 100%;
      margin: 0 auto; }
    @media screen and (max-width: 720px) {
      .service .description {
        width: 100%;
        flex-basis: 100%; } }
  .service:after {
    content: "";
    display: block;
    width: 60%;
    margin: 0 auto;
    background-image: linear-gradient(5deg, #bad4f7 0%, #e8f1fc 100%);
    border-radius: 100%;
    height: 5px;
    margin: 2rem auto;
    order: 3; }
  .service:last-of-type:after {
    content: ""; }
  .service p,
  .service ul {
    padding: 0.71rem; }

#contact {
  margin-top: 4rem;
  height: 5.5rem;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  transition: .5s all;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  #contact a:first-of-type {
    color: #FFFFFF;
    background-color: #082145;
    border: 2px solid #FFFFFF;
    transition: .3s all;
    padding: 1.42rem;
    margin: 2rem;
    display: block;
    padding: 1.42rem 1.42rem;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    min-width: 15rem;
    overflow: hidden;
    z-index: 10; }
    #contact a:first-of-type:hover, #contact a:first-of-type:active {
      border: 2px solid #082145;
      color: #082145;
      background-color: #bad4f7;
      border-radius: 0; }
  @media screen and (max-width: 720px) {
    #contact {
      width: 100%; } }
  #contact #form {
    margin: 0 auto;
    padding: 0.71rem; }
    #contact #form input,
    #contact #form textarea,
    #contact #form button {
      font-family: "ff-enzo-web";
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      max-width: 100%;
      padding: 0.355rem; }
    #contact #form textarea {
      width: 100%; }
    #contact #form input {
      width: 100%; }
    #contact #form p {
      font-size: 1.5rem;
      margin: 0; }
    #contact #form button {
      display: block;
      padding: 0.71rem; }
  #contact a:last-of-type {
    background-color: #082145;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin: 0 1rem 0 0;
    right: 0;
    position: absolute; }
  #contact:target {
    padding: 0.71rem;
    color: #FFFFFF;
    background-color: #082145;
    border: 2px solid #FFFFFF;
    overflow: auto;
    min-height: 35rem;
    height: 60rem;
    padding-top: 7.1rem; }

section:last-of-type {
  padding-bottom: 5rem; }

svg * {
  transform-origin: top;
  transform-origin: center; }

#logo,
#pBody {
  transform-origin: top left !important;
  transform-origin: center; }

#Canvas {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }

footer {
  position: fixed;
  bottom: 0vh;
  stroke: #FFFFFF;
  width: 100%;
  transition: .5s all; }
  @media screen and (min-width: 1024px) {
    footer {
      bottom: -3vh; } }
  @media screen and (min-width: 1200px) {
    footer {
      bottom: -3vh; } }
  footer div {
    display: none;
    text-align: right;
    bottom: 0;
    right: 0; }

#Skyline {
  display: block;
  stroke: #FFFFFF;
  bottom: 0; }
  @media screen and (max-width: 420px) {
    #Skyline {
      height: 5em; } }
  #Skyline path {
    stroke-width: 1;
    fill: #072043; }
    @media screen and (min-width: 1024px) {
      #Skyline path {
        stroke-width: .025vw; } }

#Clouds {
  animation-timing-function: linear;
  transition: 0s all;
  margin-bottom: 2rem; }
  #Clouds > * {
    opacity: 1; }
